<html>
	<head>
		<title>Add Map</title>
	</head>
	<body>
		
		<h1>Search the hub of an Hotel</h1>	
		
		<form action="/findHubHotel" method="post">
			<label for="hotelCode">Enter Hotel Code: </label>
			<input id="hotelCode" type="text" name="hotel_code" placeholder="Enter Hotel Code">
			<input type="submit" value="OK">
		</form>
		
	</body>
</html>